<ion-content>
  <h2 class="tituloLogin">Olá, seja <br />bem vindo(a) ao Senac Eats</h2>

  <form>
    <ion-item>
      <ion-label color="light">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="light">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button color="light" class="ion-margin" shape="round" expand="full">
      Entrar
    </ion-button>
    <ion-button color="danger" class="ion-margin" shape="round" expand="full">
      Criar conta
    </ion-button>
  </form>
</ion-content>
